{% extends "base.html" %}

{% block title %}Mercedes GLA class{% endblock %}
{% block carstyle %}<link rel="stylesheet" href="{{ url_for('static', filename='css/car-page.css') }}">{% endblock %}

{% block content %}

<!-- intro section starts here -->
<section class = "about-section">
  <div class = "about-bg">
    <h2>MERCEDES GLA CLASS</h2>
    <p class = "text">View More Info About This Car Below.</p>
  </div>
<!-- intro section ends here -->

    <div class = "card-wrapper">
        <div class = "card">

          <!-- left card section starts here -->
          <div class = "product-imgs">
            <div class = "img-display">
              <div class = "img-showcase">
                <img src = "{{ url_for('static', filename='images/mercedes/gla2.webp') }}" alt = "car image">
                <img src = "{{ url_for('static', filename='images/mercedes/gla1.webp') }}" alt = "car image">
                <img src = "{{ url_for('static', filename='images/mercedes/gla3.webp') }}" alt = "car image">
                <img src = "{{ url_for('static', filename='images/mercedes/gla4.webp') }}" alt = "car image">
              </div>
            </div>
            <div class = "img-select">
              <div class = "img-item">
                <a href = "#" data-id = "1">
                  <img src = "{{ url_for('static', filename='images/mercedes/gla2.webp') }}" alt = "car image">
                </a>
              </div>
              <div class = "img-item">
                <a href = "#" data-id = "2">
                  <img src = "{{ url_for('static', filename='images/mercedes/gla1.webp') }}" alt = "car image">
                </a>
              </div>
              <div class = "img-item">
                <a href = "#" data-id = "3">
                  <img src = "{{ url_for('static', filename='images/mercedes/gla3.webp') }}" alt = "car image">
                </a>
              </div>
              <div class = "img-item">
                <a href = "#" data-id = "4">
                  <img src = "{{ url_for('static', filename='images/mercedes/gla4.webp') }}" alt = "car image">
                </a>
              </div>
            </div>
          </div>
          <!-- left card section ends here -->
         

 <!-- right card section starts here -->
 <div class = "product-content">
  <h2 class = "product-title">MERCEDES GLA CLASS</h2>
    
   
  <div class="product-price">
    <span class="offer-price">Ksh.30,000/day</span>
</div>


<div class="pick-details">
<h4>Pickup:
<input type="date" id="date">
</h4>
<h4>Drop-off:
<input type="date" id="date">
</h4>
</div>

<div class="product-details">
    <h3>Location:Nakuru</h3>
</div>

<div class="product-btn">
  <div class="book-now">Book Now</div>
  <div class="contact-us"><a href="/contactUs">Contact Us</a></div>
</div>

</div>
</div>
</div>
<!-- right card section ends here -->


<!-- car description section starts here -->
<section class="about-car">
<h5>Car Description</h5>
<p>Grill Guard,	Back Tire,	Roof Rails,	Fog Lights,
  CD	Bluetooth	Steering Switch	Auto Air Conditioner,
  Dual Air Conditioner,	Back Camera	Front Camera,	Side Camera
  Corner Sensor	Aero,	Double Sun Roof,	Half Leather Seats,
  Centralized Door, Lock	Key Less Entry,	Push Start,	Spare Key,
  Side Power, Slide Door,	Both Power Slide Door,	Cruise Control	,
  HID	LED,	All Air Suspension	,
  High Deck,	Low Deck.</p>
<div class = "product-detail">
  <h1>Car Specifications</h1>
   <ul>
     <li>Make: <span>2015</span></li>
     <li>Engine: <span>2300 CC</span></li>
     <li>Mileage: <span>182707 km</span></li>
     <li>Transmission: <span>Automatic</span></li>
     <li>Fuel: <span>Petrol</span></li>
     <li>Drive: <span>4 WD</span></li>
     <li>Body stye: <span>Sedan</span></li>
   </ul>
 </div>

</section>
<!-- car description section ends here -->

<script src="{{ url_for('static', filename='js/image-slider.js') }}"></script>

{% endblock %}