{% extends "base.html" %}

{% block title %}Mazda Collection{% endblock %}

{% block content %}

<!-- intro section starts here -->
<section class = "about-section">
  <div class = "about-bg">
    <h2>Mazda Collection</h2>
    <p class = "text">View the available Mazda cars below.</p>
  </div>
<!-- intro section ends here -->


<!-- vehicles section starts here -->

<section id="mazda" class="mazda">
    <h2>MAZDA</h2>
    <div class="product-container">

        <div class="pro">
            <a href="/Mazda/mazdacx-5.html" target="_blank"><img class="producto" src="{{ url_for('static', filename='images/mazda/Madza CX-5.jpeg') }}"></a>
            <div class="description">
                <span>SUV</span>
                <h5>MAZDA CX-5</h5>
                <div class="star">
                    <img class="star-icon" src="{{ url_for('static', filename='images/star.png') }}">
                    <img class="star-icon" src="{{ url_for('static', filename='images/star.png') }}">
                    <img class="star-icon" src="{{ url_for('static', filename='images/star.png') }}">
                    <img class="star-icon" src="{{ url_for('static', filename='images/star.png') }}">
                    <img class="star-icon" src="{{ url_for('static', filename='images/star.png') }}">
                </div>
                <h4>Ksh.30,000/day</h4>
            </div>
            <div class="hire-icon-container"><a href="/Mazda/mazdacx-5.html" target="_blank"><img class="hire-icon" src="{{ url_for('static', filename='images/Hire icon.png') }}"></a></div>
        </div>


        <div class="pro">
            <a href="/Mazda/mazda-demio.html" target="_blank"><img class="producto" src="{{ url_for('static', filename='images/mazda/Demio1.jpeg') }}"></a>
            <div class="description">
                <span>Sedan</span>
                <h5>MAZDA DEMIO</h5>
                <div class="star">
                    <img class="star-icon" src="{{ url_for('static', filename='images/star.png') }}">
                    <img class="star-icon" src="{{ url_for('static', filename='images/star.png') }}">
                    <img class="star-icon" src="{{ url_for('static', filename='images/star.png') }}">
                    <img class="star-icon" src="{{ url_for('static', filename='images/star.png') }}">
                    <img class="star-icon" src="{{ url_for('static', filename='images/star.png') }}">
                </div>
                <h4>Ksh.15,000/day</h4>
            </div>
            <div class="hire-icon-container"><a href="/Mazda/mazda-demio.html" target="_blank"><img class="hire-icon" src="{{ url_for('static', filename='images/Hire icon.png') }}"></a></div>
        </div>


        <div class="pro">
            <a href="/Mazda/mazda-axela.html" target="_blank"><img class="producto" src="{{ url_for('static', filename='images/mazda/Axela1.jpeg') }}"></a>
            <div class="description">
                <span>Saloon car</span>
                <h5>MAZDA AXELA</h5>
                <div class="star">
                    <img class="star-icon" src="{{ url_for('static', filename='images/star.png') }}">
                    <img class="star-icon" src="{{ url_for('static', filename='images/star.png') }}">
                    <img class="star-icon" src="{{ url_for('static', filename='images/star.png') }}">
                    <img class="star-icon" src="{{ url_for('static', filename='images/star.png') }}">
                    <img class="star-icon" src="{{ url_for('static', filename='images/star.png') }}">
                </div>
                <h4>Ksh.20,000/day</h4>
            </div>
            <div class="hire-icon-container"><a href="/Mazda/mazda-axela.html" target="_blank"><img class="hire-icon" src="{{ url_for('static', filename='images/Hire icon.png') }}"></a></div>
        </div>


        <div class="pro">
            <a href="/Mazda/mazdacx-3.html" target="_blank"><img class="producto" src="{{ url_for('static', filename='images/mazda/Mazda CX-3.jpeg') }}"></a>
            <div class="description">
                <span>SUV</span>
                <h5>MAZDA CX-3</h5>
                <div class="star">
                    <img class="star-icon" src="{{ url_for('static', filename='images/star.png') }}">
                    <img class="star-icon" src="{{ url_for('static', filename='images/star.png') }}">
                    <img class="star-icon" src="{{ url_for('static', filename='images/star.png') }}">
                    <img class="star-icon" src="{{ url_for('static', filename='images/star.png') }}">
                    <img class="star-icon" src="{{ url_for('static', filename='images/star.png') }}">
                </div>
                <h4>Ksh.30,000/day</h4>
            </div>
            <div class="hire-icon-container"><a href="/Mazda/mazdacx-3.html" target="_blank"><img class="hire-icon" src="{{ url_for('static', filename='images/Hire icon.png') }}"></a></div>
        </div>


        <div class="pro">
            <a href="/Mazda/mazda-atenza.html" target="_blank"><img class="producto" src="{{ url_for('static', filename='images/mazda/Atenza1.jpg') }}"></a>
            <div class="description">
                <span>Sedan</span>
                <h5>MAZDA ATENZA</h5>
                <div class="star">
                    <img class="star-icon" src="{{ url_for('static', filename='images/star.png') }}">
                    <img class="star-icon" src="{{ url_for('static', filename='images/star.png') }}">
                    <img class="star-icon" src="{{ url_for('static', filename='images/star.png') }}">
                    <img class="star-icon" src="{{ url_for('static', filename='images/star.png') }}">
                    <img class="star-icon" src="{{ url_for('static', filename='images/star.png') }}">
                </div>
                <h4>Ksh.20,000/day</h4>
            </div>
            <div class="hire-icon-container"><a href="/Mazda/mazda-atenza.html" target="_blank"><img class="hire-icon" src="{{ url_for('static', filename='images/Hire icon.png') }}"></a></div>
        </div>


        <div class="pro">
            <a href="/Mazda/mazda-bongo.html" target="_blank"><img class="producto" src="{{ url_for('static', filename='images/mazda/Bongo1.jpg') }}"></a>
            <div class="description">
                <span>Van</span>
                <h5>MAZDA BONGO</h5>
                <div class="star">
                    <img class="star-icon" src="{{ url_for('static', filename='images/star.png') }}">
                    <img class="star-icon" src="{{ url_for('static', filename='images/star.png') }}">
                    <img class="star-icon" src="{{ url_for('static', filename='images/star.png') }}">
                    <img class="star-icon" src="{{ url_for('static', filename='images/star.png') }}">
                    <img class="star-icon" src="{{ url_for('static', filename='images/star.png') }}">
                </div>
                <h4>Ksh7,000/day</h4>
            </div>
            <div class="hire-icon-container"><a href="/Mazda/mazda-bongo.html" target="_blank"><img class="hire-icon" src="{{ url_for('static', filename='images/Hire icon.png') }}"></a></div>
        </div>


        <div class="pro">
            <a href="/Mazda/mazdacx-8.html" target="_blank"><img class="producto" src="{{ url_for('static', filename='images/mazda/Mazda CX-8.jpeg') }}"></a>
            <div class="description">
                <span>SUV</span>
                <h5>MAZDA CX-8</h5>
                <div class="star">
                    <img class="star-icon" src="{{ url_for('static', filename='images/star.png') }}">
                    <img class="star-icon" src="{{ url_for('static', filename='images/star.png') }}">
                    <img class="star-icon" src="{{ url_for('static', filename='images/star.png') }}">
                    <img class="star-icon" src="{{ url_for('static', filename='images/star.png') }}">
                    <img class="star-icon" src="{{ url_for('static', filename='images/star.png') }}">
                </div>
                <h4>Ksh.30,000/day</h4>
            </div>
            <div class="hire-icon-container"><a href="/Mazda/mazdacx-8.html" target="_blank"><img class="hire-icon" src="{{ url_for('static', filename='images/Hire icon.png') }}"></a></div>
        </div>


        <div class="pro">
            <a href="/Mazda/mazda-flair.html" target="_blank"><img class="producto" src="{{ url_for('static', filename='images/mazda/Flair1.jpeg') }}"></a>
            <div class="description">
                <span>Crossover</span>
                <h5>MAZDA FLAIR</h5>
                <div class="star">
                    <img class="star-icon" src="{{ url_for('static', filename='images/star.png') }}">
                    <img class="star-icon" src="{{ url_for('static', filename='images/star.png') }}">
                    <img class="star-icon" src="{{ url_for('static', filename='images/star.png') }}">
                    <img class="star-icon" src="{{ url_for('static', filename='images/star.png') }}">
                    <img class="star-icon" src="{{ url_for('static', filename='images/star.png') }}">
                </div>
                <h4>Ksh.6,500/day</h4>
            </div>
            <div class="hire-icon-container"><a href="/Mazda/mazda-flair.html" target="_blank"><img class="hire-icon" src="{{ url_for('static', filename='images/Hire icon.png') }}"></a></div>
        </div>


        <div class="pro">
            <a href="/Mazda/mazda-mpv.html" target="_blank"><img class="producto" src="{{ url_for('static', filename='images/mazda/mpv1.jpg') }}"></a>
            <div class="description">
                <span>Minivan</span>
                <h5>MAZDA MPV</h5>
                <div class="star">
                    <img class="star-icon" src="{{ url_for('static', filename='images/star.png') }}">
                    <img class="star-icon" src="{{ url_for('static', filename='images/star.png') }}">
                    <img class="star-icon" src="{{ url_for('static', filename='images/star.png') }}">
                    <img class="star-icon" src="{{ url_for('static', filename='images/star.png') }}">
                    <img class="star-icon" src="{{ url_for('static', filename='images/star.png') }}">
                </div>
                <h4>Ksh.10,000/day</h4>
            </div>
            <div class="hire-icon-container"><a href="/Mazda/mazda-mpv.html" target="_blank"><img class="hire-icon" src="{{ url_for('static', filename='images/Hire icon.png') }}"></a></div>
        </div>


        <div class="pro">
            <a href="/Mazda/mazdacx-9.html" target="_blank"><img class="producto" src="{{ url_for('static', filename='images/mazda/CX-9-1.jpg') }}"></a>
            <div class="description">
                <span>SUV</span>
                <h5>MAZDA CX-9</h5>
                <div class="star">
                    <img class="star-icon" src="{{ url_for('static', filename='images/star.png') }}">
                    <img class="star-icon" src="{{ url_for('static', filename='images/star.png') }}">
                    <img class="star-icon" src="{{ url_for('static', filename='images/star.png') }}">
                    <img class="star-icon" src="{{ url_for('static', filename='images/star.png') }}">
                    <img class="star-icon" src="{{ url_for('static', filename='images/star.png') }}">
                </div>
                <h4>Ksh.13,000/day</h4>
            </div>
            <div class="hire-icon-container"><a href="/Mazda/mazdacx-9.html" target="_blank"><img class="hire-icon" src="{{ url_for('static', filename='images/Hire icon.png') }}"></a></div>
        </div>



    </div>
    
</section>

<!-- vehicles section ends here -->

{% endblock %}
       

{% block inlinestyles %}

<style>

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family:  'Nunito Sans', sans-serif;
 }

/* intro section starts here */
.about-bg{
    height: 60vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(imgs/Atenza1.png);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-bg h2{
    font-size: 3rem;
    text-transform: uppercase;
    padding: 0.4rem 0;
    letter-spacing: 4px;
}

.text{
    font-weight: 300;
    opacity: 0.9;
}
.about-bg .text{
    margin: 1.6rem 0;
}
/* intro section ends here */


/* vehicles section starts here */
.mazda{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.product-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}
.mazda .pro{
    width: 20%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}
.mazda .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.08);
}
.mazda .pro .producto{
    width: 100%;
    height: 55%;
    border-radius: 20px;
}
.mazda .pro .star-icon{
    width: 16px;
    border: 0;
}
.mazda .pro .description{
    text-align: start;
    padding: 10px 0;
}
.mazda .pro .description span{
    color: #606063;
    font-size: 12px;
}
.mazda .pro .description h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}
.mazda .hire-icon-container{
    display: flex;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f0ed;
    font-weight: 500;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}
.mazda .hire-icon-container:hover{
    transform: scale(1.08);
}
.hire-icon-container a{
    display: flex;
    margin: auto;
}
.mazda .pro .hire-icon{
    width: 20px;
}
.mazda .pro .description h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

/* responsiveness */
.mazda .product-container{
        justify-content: center;
    }
    .mazda .pro{
        margin: 15px;
    }
/* vehicles section ends here */

</style>

{% endblock %}