{% extends "base.html" %}

{% block title %}Mazda Flair{% endblock %}
{% block carstyle %}<link rel="stylesheet" href="{{ url_for('static', filename='css/car-page.css') }}">{% endblock %}

{% block content %}

<!-- intro section starts here -->
<section class = "about-section">
  <div class = "about-bg">
    <h2>MAZDA FLAIR</h2>
    <p class = "text">View More Info About This Car Below.</p>
  </div>
<!-- intro section ends here -->





    <div class = "card-wrapper">
        <div class = "card">

          <!-- left card section starts here -->
          <div class = "product-imgs">
            <div class = "img-display">
              <div class = "img-showcase">
                <img src = "{{ url_for('static', filename='images/mazda/Flair1.jpeg') }}" alt = "car image">
                <img src = "{{ url_for('static', filename='images/mazda/Flair2.jpeg') }}" alt = "car image">
                <img src = "{{ url_for('static', filename='images/mazda/Flair3.jpeg') }}" alt = "car image">
                <img src = "{{ url_for('static', filename='images/mazda/Flair4.jpeg') }}" alt = "car image">
              </div>
            </div>
            <div class = "img-select">
              <div class = "img-item">
                <a href = "#" data-id = "1">
                  <img src = "{{ url_for('static', filename='images/mazda/Flair1.jpeg') }}" alt = "car image">
                </a>
              </div>
              <div class = "img-item">
                <a href = "#" data-id = "2">
                  <img src = "{{ url_for('static', filename='images/mazda/Flair2.jpeg') }}" alt = "car image">
                </a>
              </div>
              <div class = "img-item">
                <a href = "#" data-id = "3">
                  <img src = "{{ url_for('static', filename='images/mazda/Flair3.jpeg') }}" alt = "car image">
                </a>
              </div>
              <div class = "img-item">
                <a href = "#" data-id = "4">
                  <img src = "{{ url_for('static', filename='images/mazda/Flair4.jpeg') }}" alt="car image">
                </a>
              </div>
            </div>
          </div>
          <!-- left card section ends here -->
       
          
 <!-- right card section starts here -->
 <div class = "product-content">
  <h2 class = "product-title">MAZDA FLAIR</h2>
    
   
  <div class="product-price">
    <span class="offer-price">Ksh.7,000/day</span>
</div>

<div class="pick-details">
<h4>Pickup:
<input type="date" id="date">
</h4>
<h4>Drop-off:
<input type="date" id="date">
</h4>
</div>

<div class="product-details">
    <h3>Location:Nakuru</h3>
</div>

<div class="product-btn">
  <div class="book-now">Book Now</div>
  <div class="contact-us"><a href="/contactUs">Contact Us</a></div>
</div>


</div>
</div>
</div>
<!-- right card section ends here -->


<!-- car description section starts here -->
<section class="about-car">
<h5>Car Description</h5>
<p>Air Conditioning,
  Airbags,
  AM/FM Radio,
  Anti Lock Brakes,
  Armrests,
  Electric Mirrors,
  Electric Windows,
  Power Steering,
  Reverse Camera,
  Push to Start,
  Turbo Charged,
  Alloy Rims,
  Steering Controls,
  Eco Mode,
  Power Doors.</p>
<div class = "product-detail">
  <h1>Car Specifications</h1>
    <ul>
      <li>Make: <span>2016</span></li>
      <li>Engine: <span>658 CC</span></li>
      <li>Mileage: <span>144490 km</span></li>
      <li>Transmission: <span>Automatic</span></li>
      <li>Fuel: <span>Petrol</span></li>
      <li>Drive: <span>AWD</span></li>
      <li>Body stye: <span>Crossover</span></li>
    </ul>
  </div>

</section>
<!-- car description section ends here -->

<script src="{{ url_for('static', filename='js/image-slider.js') }}"></script>

{% endblock %}