{% extends "base.html" %}

{% block title %}About Us{% endblock %}

{% block content %}

    <!-- intro section starts here -->
    <section class = "about-section">
      <div class = "about-bg">
        <h2>About Us</h2>
        <p class = "text">A trusted brand in the automotive industry.</p>
      </div>
    <!-- intro section ends here -->






    <!-- plan section starts here -->
    <section class="plan-container">
      <h2 class="section-header">Why choose us?</h2>
      <div class="plan-grid">
    <div class="plan-content">
      <span class="number"><i class="fa fa-car"></i></span>
      <h4>Friendly prices</h4>
      <p>
        We offer competitive prices and have something for every budget.
      </p>
      <span class="number"><i class="fa fa-car"></i></span>
      <h4>Client Satisfaction</h4>
      <p>
        We are committed  to serve  and prioritize our clients needs with utmost professionalism and transparency.
      </p>
      <span class="number"><i class="fa fa-car"></i></span>
      <h4>Wide Variety</h4>
      <p>
        We bring you access to all the major manufacturers and the most popular models in the industry.
      </p>
    </div>
    <div class="plan-image">
      <img src="Mazda/imgs/CX-8-3.jpeg" alt="plan" />
      <img src="Mazda/imgs/CX-9-1.jpg" alt="plan" />
      <img src="Mazda/imgs/Axela1.jpeg" alt="plan" />
    </div>
    </div>
    </section>

    <!-- plan section ends here -->




        <!-- about section starts here -->
            <section class="about-container">
            <h2 class="section-header">About Our Company</h2>
            <p class="section-subheader">
              CarHire is a familiar symbol of performance, image, reliability, pride 
              and peace of mind all through.
              Passionate to satisfy the unique needs and challanges of our customers, our company supplies each car
              to every customer's specifications.
                Wherever you want to go, you can count on our uncompromising company to supply automobiles 
              that describe your taste and style.
            </p>
            <div class="about-image">
                    <div class="about-grid">
                <div class="about-card">
                  <span><i class="fa fa-car"></i></span>
                  <div class="about-card-content">
                    <h4>Advanced Technology</h4>
                    <p>We are focused on renting cars equiped with modern technology 
                      that delivers better control, perfomance and lifestyle.</p>
                  </div>
                </div>
                <div class="about-card">
                  <span><i class="fa fa-car"></i></span>
                  <div class="join-card-content">
                    <h4>Road Presence</h4>
                    <p>We rent attention-grabbing vehicles with real road presence and genuine performance.</p>
                  </div>
                </div>
                <div class="about-card">
                  <span><i class="fa fa-car"></i></span>
                  <div class="about-card-content">
                    <h4>Driver Confidence</h4>
                    <p>We are obsessive about raising the bar in terms of safe cars which 
                      will give peace of mind to the driver and all occupants.</p>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- about section ends here -->


    <section class="spacing"></section>

{% endblock %}   


{% block inlinestyles %}

<style>

    * {
      margin: 0;
      box-sizing: border-box;
    }

    body {
      font-family:  'Nunito Sans', sans-serif;
    }
    .section-header {
      margin-bottom: 1rem;
      font-size: 2.25rem;
      font-weight: 600;
      text-align: center;
      color: #4d4c4c;
      font-weight: 600;
    }

    .section-subheader {
      max-width: 1200px;
      margin: auto;
      text-align: center;
      color: #545555;
      font-size: 1.2rem;
      font-weight: 500;
    }

    img {
      width: 100%;
      display: flex;
    }


    /* intro section starts here */
    .about-bg{
        height: 60vh;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(imgs/Atenza1.png);
        background-position: 50% 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        text-align: center;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-bg h2{
        font-size: 3rem;
        text-transform: uppercase;
        padding: 0.4rem 0;
        letter-spacing: 4px;
    }

    .text{
        font-weight: 300;
        opacity: 0.9;
    }
    .about-bg .text{
        margin: 1.6rem 0;
    }
    /* intro section ends here */




        /* plan section starts here */
        .plan-container{
          margin: 6rem;
        }
        .plan-container .subheader {
        margin-bottom: 1rem;
        text-align: center;
        font-weight: 600;
        color: var(--text-dark);
        letter-spacing: 5px;
      }
      
      .section-header {
        text-align: center;
        font-size: 2rem;
        line-height: 4rem;
        margin-bottom: 1rem;
        color: #eb2f06;
        text-decoration: underline;
      }
      
        .plan-grid {
        margin-top: 1rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
      }
      
      .plan-content .number {
        display: inline-block;
        padding: 5px 15px;
        margin-bottom: 0.5rem;
        font-weight: 600;
        color: var(--white);
        background-color: var(--primary-color);
        border-radius: 2rem;
      }
      
      .plan-content .number:nth-child(4) {
        background-color: #e98b6d;
      }
      
      .plan-content .number:nth-child(7) {
        background-color: #ffcca3;
      }
      
      .plan-content h4 {
        font-size: 1.2rem;
        font-weight: 600;
        color: var(--text-dark);
        margin-bottom: 0.5rem;
      }
      
      .plan-content p {
        color: var(--text-light);
        margin-bottom: 2rem;
      }
      
      .plan-image {
        position: relative;
      }
      
      .plan-image img {
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 10rem;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
      }
      
      .plan-image img:nth-child(1) {
        max-width: 250px;
        transform: translate(calc(-50% - 9rem), calc(-50% + 5rem));
        z-index: 3;
      }
      
      .plan-image img:nth-child(2) {
        max-width: 260px;
        transform: translate(-50%, calc(-50% - 5rem));
        z-index: 2;
      }
      
      .plan-image img:nth-child(3) {
        max-width: 230px;
        transform: translate(calc(-50% + 9rem), calc(-50% + 5rem));
      }

        
      @media (width < 900px) {
        .plan-container{
          margin: 1rem;
        }
        .plan-grid {
          grid-template-columns: repeat(1, 1fr);
        }
      
        .plan-image {
          min-height: 600px;
          grid-area: 1/1/2/2;
        }
        
      }
      /* plan section ends here */



    /* about section starts here */
    .about-container{
      max-width: 1200px;
      margin: auto;
      padding: 5rem 1rem;
    }

    .about-image {
      margin-top: 10rem;
      position: relative;
    }

    .about-image img {
      border-radius: 10px;
    }

    .about-grid {
      position: absolute;
      bottom: -5rem;
      width: calc(100% - 4rem);
      padding: 2rem;
      margin: 0 2rem;
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      background-color: #1f2125;;
      border-radius: 10px;
    }

    .about-card {
      flex: 1 1 250px;
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    .about-card span {
      padding: 5px 12px;
      font-size: 1.75rem;
      color: var(--white);
      background-color: #d79447;
      border-radius: 5px;
    }

    .about-card h4 {
      margin-bottom: 0.5rem;
      font-size: 1.2rem;
      font-weight: 500;
      color: #ffffff;
    }

    .about-card p {
      color: #d3cece;
    }


    @media (width < 600px) {
      .about-container {
        margin-bottom: 15rem;
      }

      .about-grid {
        width: 100%;
        margin: 0;
        bottom: -20rem;
      }

    }
    /* about section ends here */


          
    /* responsiveness */
    .spacing{
                margin-top: 4rem;
            }
            @media (max-width: 650px) {
                .about-image {
                margin-top: 17rem;
            position: relative;
            }
                .spacing{
                margin-top: 15rem;
            }
          }
</style>

{% endblock %}