{% extends "base.html" %}
   
{% block content %}

    <!-- homepage section starts here -->
      <section class="homepage-box">  
      <video src="{{ url_for('static', filename='images/mazda/Atenza1.png') }}" autoplay muted loop></video>
      <h1>HIRE YOUR PERFECT CAR AT THE BEST COST.</h1> 
      <h3>Experience The Road Like Never Before</h3>
      <a href="#cont" class="boxBtn">View available cars</a>   
    </section>
    <!-- homepage section ends here -->

    <!-- Brand section starts here -->
    <section class="section brand">
      <div class="brand-container container">
        <h2>Available Brands</h2>
              <div class="brand-images">
                      <div class="brand-image">
                              <img src="{{ url_for('static', filename='images/toyota/toyota.png') }}"  alt="" class="brand-img">
                      </div>
                      <div class="brand-image">
                              <img src="{{ url_for('static', filename='images/mercedes/mercedes.png') }}"  alt="" class="brand-img">
                      </div>
                      <div class="brand-image">
                              <img src="{{ url_for('static', filename='images/mazda/mazda.png') }}"  alt="" class="brand-img">
                      </div>
                      <div class="brand-image">
                              <img src="{{ url_for('static', filename='images/honda/honda.png') }}"  alt="" class="brand-img">
                      </div>
                      <div class="brand-image">
                              <img src="{{ url_for('static', filename='images/nissan/nissan.png') }}"  alt="" class="brand-img">
                      </div>
              </div>
      </div>
    </section>
    <!-- brand section ends here -->

    <!-- container section starts here -->
    <section class="cont" id="cont">

    <div class="card">
        <div class="card-header">
            <img src="{{ url_for('static', filename='images/toyota/TX1.jpg') }}"  alt="car" />
        </div>
        <div class="card-body">
              <h4>TOYOTA</h4>
            <span class="tag tag-red"><a href="/Toyota">View All<i class="fa fa-arrow-right"></i></a></span>
        </div>
    </div>


    <div class="card">
        <div class="card-header">
            <img src="{{ url_for('static', filename='images/mazda/CX-3-3.jpeg') }}"  alt="car" />
        </div>
        <div class="card-body">
          <h4>MAZDA</h4>
            <span class="tag tag-red"><a href="/Mazda">View All<i class="fa fa-arrow-right"></i></a></span>
          </div>
    </div>


    <div class="card">
        <div class="card-header">
            <img src="{{ url_for('static', filename='images/mercedes/slk1.webp') }}"  alt="car" />
        </div>
        <div class="card-body">
          <h4>MERCEDES BENZ</h4>
            <span class="tag tag-red"><a href="/Mercedes">View All<i class="fa fa-arrow-right"></i></a></span>
            </div>
    </div>


    <div class="card">
      <div class="card-header">
          <img src="{{ url_for('static', filename='images/nissan/tiida1.png') }}" alt="car" />
      </div>
      <div class="card-body">
        <h4>NISSAN</h4>
          <span class="tag tag-red"><a href="/Nissan">View All<i class="fa fa-arrow-right"></i></a></span>  
      </div>
    </div>


    <div class="card">
    <div class="card-header">
        <img src="{{ url_for('static', filename='images/honda/veze12.jpg') }}"  alt="car" />
    </div>
    <div class="card-body">
      <h4>HONDA</h4>
        <span class="tag tag-red"><a href="/Honda">View All<i class="fa fa-arrow-right"></i></a></span>
          </div>
    </div>

    </section>
    <!-- container section ends here -->


    <!-- info section starts here -->
    <section class="info-container">
      <div class="info-image">
        <img src="{{ url_for('static', filename='images/mazda/Atenza1.png') }}"  alt="car" />
        <img src="{{ url_for('static', filename='images/mazda/Axela1.jpeg') }}"  alt="car" />
      </div>
      <div class="info-content">
        <h2 class="section-header">Why Our Car Hire Company...</h2>
        <div class="info-grid">
          <div class="info-details">
            <h4>Wide range of brands</h4>
            <p>
              We offer a wide range of brands to meet the diverse needs and preferences of our valued customers.
                From luxurious to basic, our extensive inventory provides options for every budget and lifestyle.
            </p>
          </div>
          <div class="info-details">
            <h4>Trusted by thousands</h4>
            <p>
              Our commitment to excellence and customer satisfaction has improved our position as a trusted car hire company in the industry.
            </p>
          </div>
          <div class="info-details">
            <h4>Car service and maintenance</h4>
            <p>
              We are dedicated to providing reliable rides to our customers. That's why we ensure proper service on all of our vehicles, 
              giving you the assurance that you're driving away with a quality vehicle.
            </p>
          </div>
          <div class="info-details">
            <h4>Financing made easy</h4>
            <p>
              Financing your dream ride is made easy with our friendly rates. We ensure you get the best 
              possible rates and terms, ensuring a smooth and stress-free financing experience.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- info section ends here -->


    <!-- vehicles section starts here -->

    <section id="mazda" class="mazda">
    <h2>CARS ON OFFER</h2>
    <div class="product-container">

        <div class="pro">
            <a href="/Toyota/toyota-auris.html" target="_blank"><img class="producto" src="{{ url_for('static', filename='images/toyota/Auris1.jpg') }}" ></a>
            <div class="description">
                <span>SUV</span>
                <h5>TOYOTA AURIS</h5>
                <div class="star">
                    <img class="star-icon" src="{{ url_for('static', filename='images/star.png') }}"   >
                    <img class="star-icon" src="{{ url_for('static', filename='images/star.png') }}"   >
                    <img class="star-icon" src="{{ url_for('static', filename='images/star.png') }}"  >
                    <img class="star-icon" src="{{ url_for('static', filename='images/star.png') }}"  >
                    <img class="star-icon" src="{{ url_for('static', filename='images/star.png') }}"  >
                    <img class="star-icon" src="{{ url_for('static', filename='images/star.png') }}"  >
                </div>
                <h4>Ksh.7,000/day</h4>
            </div>
            <div class="hire-icon-container"><a href="/Toyota/toyota-auris.html" target="_blank"><img class="hire-icon" src="{{ url_for('static', filename='images/Hire icon.png') }}" ></a></div>
        </div>


        <div class="pro">
            <a href="/Honda/honda-accord.html" target="_blank"><img class="producto" src="{{ url_for('static', filename='images/honda/accord1.webp') }}"></a>
            <div class="description">
                <span>Sedan</span>
                <h5>HONDA ACCORD TOURER</h5>
                <div class="star">
                    <img class="star-icon" src="{{ url_for('static', filename='images/star.png') }}"  >
                    <img class="star-icon" src="{{ url_for('static', filename='images/star.png') }}"  >
                    <img class="star-icon" src="{{ url_for('static', filename='images/star.png') }}"  >
                    <img class="star-icon" src="{{ url_for('static', filename='images/star.png') }}"  >
                    <img class="star-icon" src="{{ url_for('static', filename='images/star.png') }}"  >
                </div>
                <h4>Ksh.10,000/day</h4>
            </div>
            <div class="hire-icon-container"><a href="/Honda/honda-accord.html" target="_blank"><img class="hire-icon" src="{{ url_for('static', filename='images/Hire icon.png') }}" ></a></div>
        </div>


        <div class="pro">
            <a href="/Mercedes/A-class.html" target="_blank"><img class="producto" src="{{ url_for('static', filename='images/mercedes/aclass1.avif') }}"></a>
            <div class="description">
                <span>Saloon car</span>
                <h5>MERCEDES A CLASS</h5>
                <div class="star">
                    <img class="star-icon" src="{{ url_for('static', filename='images/star.png') }}"  >
                    <img class="star-icon" src="{{ url_for('static', filename='images/star.png') }}"  >
                    <img class="star-icon" src="{{ url_for('static', filename='images/star.png') }}"  >
                    <img class="star-icon" src="{{ url_for('static', filename='images/star.png') }}"  >
                    <img class="star-icon" src="{{ url_for('static', filename='images/star.png') }}"  >
                </div>
                <h4>Ksh.15,000/day</h4>
            </div>
            <div class="hire-icon-container"><a href="/Mercedes/A-class.html" target="_blank"><img class="hire-icon" src="{{ url_for('static', filename='images/Hire icon.png') }}" ></a></div>
        </div>


        <div class="pro">
            <a href="/Nissan/nissan-dualis.html" target="_blank"><img class="producto" src="{{ url_for('static', filename='images/nissan/dualis1.avif') }}"></a>
            <div class="description">
                <span>SUV</span>
                <h5>NISSAN DUALIS</h5>
                <div class="star">
                    <img class="star-icon" src="{{ url_for('static', filename='images/star.png') }}"  >
                    <img class="star-icon" src="{{ url_for('static', filename='images/star.png') }}"  >
                    <img class="star-icon" src="{{ url_for('static', filename='images/star.png') }}"  >
                    <img class="star-icon" src="{{ url_for('static', filename='images/star.png') }}"  >
                    <img class="star-icon" src="{{ url_for('static', filename='images/star.png') }}"  >
                </div>
                <h4>Ksh.20,000/day</h4>
            </div>
            <div class="hire-icon-container"><a href="/Nissan/nissan-dualis.html" target="_blank"><img class="hire-icon" src="{{ url_for('static', filename='images/Hire icon.png') }}" ></a></div>
        </div>

    </div>

    </section>

    <!-- vehicles section ends here -->


    <!-- cards section starts here -->
    <section class="cards">
      <div class="cards-container">
          <h2 class="section-header">Our Guarantees</h2>
        <div class="cards-grid">
          <div class="cards-card">
            <span><i class="fa fa-car"></i></span>
            <h4>Quality and safety</h4>
            <p>
              We never compromise on quality and safety of our vehicles.
              We avoid anything that undermines this core commitment.
            </p>
          </div>
          <div class="cards-card">
            <span><i class="fa fa-car"></i></span>
            <h4>Privacy</h4>
            <p>
              We repect our customers' documents that come into our possession
                at the time of transacting and we treat them with utmost confidentiality.
            </p>
          </div>
          <div class="cards-card">
            <span><i class="fa fa-car"></i></span>
            <h4>Fairness</h4>
            <p>
              We fully understand that we exist as a business to serve you.
                We therefore remain straightforward in all our undertakings and strive to meet our obligations.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- cards section ends here -->

{% endblock %}

{% block inlinestyles %}

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family:  'Nunito Sans', sans-serif;
    }



      /* homepage section starts here */
      .homepage-box {
      position: relative;
      justify-content: center;
      min-height: 100vh;
      color: #fff;
      text-align: center;
      background: radial-gradient(rgba(48, 46, 45, 0.896),
                        rgba(4, 8, 240, 0.75)), url(imgs/Atenza1.png);
      background-position: center;
      background-size: cover;
    }
    .homepage-box video {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
    }
    .homepage-box h1 {
      margin-bottom: 15px;
      font-size: 65px;
      text-transform: uppercase;
      text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
      font-family:  'Nunito Sans', sans-serif;
    }
    .homepage-box h3 {
      margin-bottom: 40px;
      font-size: 25px;
    }
    .homepage-box a.boxBtn {
      padding: 15px 35px;
      background: transparent;
      border-radius: 50px;
      color: #fff;
      text-transform: uppercase;
      border: 4px solid #fff;
      transition: all .5s;
      text-decoration: none;
    }
    .homepage-box a.boxBtn:hover {
      background: #fff;
      color: #000;
    }
    @media (max-width: 800px) {
      .homepage-box {
        min-height: 600px;
      }
      .homepage-box h1 {
        font-size: 32px;
      }
      .homepage-box h3 {
        font-size: 20px;
      }
      .homepage-box a.boxBtn {
        padding: 15px 40px;
      }
    }
    section {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 110px 100px;
    }
    @media (max-width: 1000px) {
      section {
        padding: 100px 50px;
      }
    }
    @media (max-width: 600px) {
      section {
        padding: 125px 30px;
      }
    }
    /* homepage section ends here */



    /* Brand section starts here */
    .brand h2{
      text-align: center;
    }
    .brand-images{
      display: grid;
      align-items: center;
      column-gap: 7rem;
      justify-content: space-between;
      justify-items: center;
      margin-top: 3rem;
      grid-template-columns: repeat(5,1fr);
    }
    .brand-img{
      width: 110px;
      object-fit: contain;
      opacity: 0.7;
      transition: var(--tran-0-5);
    }
    .brand-img:hover{
      opacity: 1;
    }

    @media screen and (max-width: 1000px) {

      .brand-images{
        grid-template-columns: repeat(3,1fr);
      }

    }

    @media screen and (max-width: 600px){
      .brand-images{
        grid-template-columns: repeat(2,1fr);
          }
      .brand-img{
        width: 100px;
      }
    }
    /* Brand section ends here */



    /* container section starts here */
    .cont body {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 10rem;
      background-color: #f7f8fc;
      color: #10182f;
    }

    .cont {
      padding: 0 5%;
      grid-template-columns: 1fr 1fr 1fr;
      justify-content: center;
      align-content: center;
      display: grid;
    }

    @media (max-width: 950px) {
      .cont{
        grid-template-columns: 1fr 1fr;

      } 
    }

    @media (max-width: 600px) {
      .cont{
        grid-template-columns: 1fr;

      } 
    }

    .card {
      margin: 10px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
      overflow: hidden;
    }

    .card-header img {
      width: 100%;
      height: 250px;
      object-fit: cover;
      border: 2px solid #646262;
    }

    .card-body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 20px;
      min-height: 100px;
    }

    .tag {
      background: #cccccc;
      border-radius: 50px;
      font-size: 17px;
      margin: 1rem;
      color: #fff;
      padding: 10px 20px;
      cursor: pointer;
      margin-left: 0;
    }

    .tag a{
        text-decoration: none;
    }
    .tag-red {
      background-color: #eb2f06;
    }
    /* container section ends here */






    /* info section starts here */

    .info-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
      }
      
      .info-grid {
        margin-bottom: 5rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
      }
      
      .info-image {
        position: relative;
      }
      
      .info-image img {
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 20rem;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
      }
      
      .info-image img:nth-child(1) {
        max-width: 300px;
        transform: translate(calc(-50% - 3rem), -50%);
      }
      
      .info-image img:nth-child(2) {
        max-width: 200px;
        transform: translate(calc(-50% + 6rem), calc(-50% + 7rem));
      }
      
      .info-details h4 {
        margin-bottom: 0.5rem;
        font-size: 1.2rem;
        font-weight: 600;
        color: #eb2f06;
      }
      
      .info-details p {
        color: var(--text-light);
      }
      
      
      
      @media (width < 1200px) {
        .section-container.header-container,
        .section-container.plan-container{
          overflow: hidden;
        }
      
        }
      
      @media (width < 900px) {
        .info-container {
          grid-template-columns: repeat(1, 1fr);
        }
      
        .info-image {
          min-height: 600px;
        }
      
      }
      @media (width < 600px) {
        .info-grid {
          grid-template-columns: repeat(1, 1fr);
        }
      
      }
    /* info section ends here */






    /* vehicles section starts here */
    .mazda{
        text-align: center;
    }
    .product-container{
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        flex-wrap: wrap;
    }
    .mazda .pro{
        width: 20%;
        min-width: 250px;
        padding: 10px 12px;
        border: 1px solid #cce7d0;
        border-radius: 25px;
        cursor: pointer;
        box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
        margin: 15px 0;
        transition: 0.2s ease;
        position: relative;
    }
    .mazda .pro:hover{
        box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.08);
    }
    .mazda .pro .producto{
        width: 100%;
        height: 55%;
        border-radius: 20px;
    }
    .mazda .pro .star-icon{
        width: 16px;
        border: 0;
    }
    .mazda .pro .description{
        text-align: start;
        padding: 10px 0;
    }
    .mazda .pro .description span{
        color: #606063;
        font-size: 12px;
    }
    .mazda .pro .description h5{
        padding-top: 7px;
        color: #1a1a1a;
        font-size: 14px;
    }
    .mazda .hire-icon-container{
        display: flex;
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-radius: 50px;
        background-color: #e8f0ed;
        font-weight: 500;
        border: 1px solid #cce7d0;
        position: absolute;
        bottom: 20px;
        right: 10px;
    }
    .mazda .hire-icon-container:hover{
        transform: scale(1.08);
    }
    .hire-icon-container a{
        display: flex;
        margin: auto;
    }
    .mazda .pro .hire-icon{
        width: 20px;
    }
    .mazda .pro .description h4{
        padding-top: 7px;
        font-size: 15px;
        font-weight: 700;
        color: #088178;
    }

    /* responsiveness */
    .mazda .product-container{
            justify-content: center;
        }
        .mazda .pro{
            margin: 15px;
        }
    /* vehicles section ends here */






        /* cards section starts here */
        .cards {
        background-color: var(--extra-light);
      }

      .cards .section-header {
        text-align: center;
        font-size: 2rem;
        line-height: 4rem;
        margin-bottom: 1rem;
      }
      

      .cards-grid {
        margin-top: 4rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5rem;
      }
      
      .cards-card {
        padding: 3rem 2rem;
        text-align: center;
        border-radius: 5rem;
        background-color: var(--white);
        box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.05);
      }
      
      .cards-card span {
        display: inline-block;
        padding: 20px 32px;
        margin-bottom: 2rem;
        font-size: 3rem;
        color: var(--white);
        background-color: var(--primary-color);
        border-radius: 100%;
      }
      
      .cards-card:nth-child(2) span {
        background-color: #e98b6d;
      }
      
      .cards-card:nth-child(3) span {
        background-color: #ffcca3;
      }
      
      .cards-card h4 {
        margin-bottom: 1rem;
        font-size: 1.2rem;
        font-weight: 600;
        color: var(--text-dark);
      }
      
      .cards-card p {
        color: var(--text-light);
        line-height: 1.75rem;
      }

      @media (width < 1200px) {
        
        .cards-grid {
          gap: 3rem;
        }
      }
      
      @media (width < 900px) {

        .cards-grid {
          grid-template-columns: repeat(2, 1fr);
          gap: 2rem;
        }
      
      }
      @media (width < 600px) {
    
        .cards-header {
          flex-direction: column;
        }
      
        .cards-grid {
          grid-template-columns: repeat(1, 1fr);
        }
      
      }

    /* cards section ends here */
</style>

{% endblock %}